:root{
    --maincolor:#ddd;
}
.page{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    background-color: #eee;
    margin: 20px auto;
    padding: 10px;
    width: 720px;
    height: 500px;
    font-size: 12px;
}


.header{
    display: flex;
    background-color: #eee;
    justify-content: space-between;
    width: 100%;   
   
     
    
    

}
.logo{
    margin-right: 10px;
    margin-bottom: 10px;
}
.links, .logo{
    list-style-type: none;
    background-color: var(--maincolor);
    display: flex;
    border-radius: 5px;
    height: 30px;
    justify-content: center;
    align-items: center;
    
   
}
.header .links {
    list-style: none;
    width: 90%;
    justify-content: flex-end;
    margin: 0;
}
li {
    padding: 5px;
    margin-right: 10px;
}
.header .logo {
    width: 8%;
}  
.main-area {
    width: 100%;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.content, .sidebar {
    display: flex;
    background-color: var(--maincolor);
    border-radius: 5px;
    height: 400px;
    padding: 10px;
}

.content {
    width: 50%;
}

.sidebar {
    width: 38%;
}

/* end sidebar */

.footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--maincolor);
    margin-top: 10px;
}

.copyright, .design {
    display: flex;
    background-color: var(--maincolor);
    display: flex;
    border-radius: 5px;
    height: 30px;
    justify-content: center;
    align-items: center;
}
.design{
    padding-right: 10px;
}
.copyright{
    padding-left: 10px;
} 