.basic{
    background-color: rgb(112, 112, 240);
     border: 1px solid;
     width: 117px;
     height: 22px;
     text-align: center;
     color: white;
     margin-left: 77px;
     margin-top: 10px;
     font-weight: bold;
 }
 
 
 
 .containeer{
     margin: 20px;
     border: 1px solid;
     background-color: #eee;
     height: 200px;  
 }
 .pro{
     
     background-color: rgb(112, 112,240);
     border: 1px solid;
     width: 117px;
     height: 22px;
     text-align: center;
     color: white;
     margin-left: 398px;
     margin-top: -23px;
     font-weight: bold
        
         
         
     
 }
 .line{
     background-color: rgb(112, 112,240);
     width: 2px;
     height: inherit;
     margin-top: -35px;
     margin-left: 302px;
     
 
 }
 .circle{
     color: white;
     font-weight: bold;
     background-color: rgb(112, 112,240);
     border-radius: 15px;
     width: 30px;
     height: 22px;
     margin-top: -109px;
     margin-left: 288px;
     text-align: center;
     
 
 }
 .free1{
     background-color: green;
     color: red;
     width: 100px;
     height: 100px;
 
     border-radius: 50px;
     margin-top: -64px;
     margin-left: 86px   ;
     text-align: center;
 
 }
 .free2{
     background-color: green;
     color: red;
     width: 100px;
     height: 100px;
     border-radius: 50px;
     margin-top: -101px;
     margin-left: 410px;
     text-align: center;
 
 }
 .f{
     margin-top: -63px;
     position: absolute;
     font-weight: bold;
     margin-left: 115px;
     text-align: center;
     font-size: 20px;
 }
 .le{
     margin-top: -64px;
     position: absolute;
     font-weight: bold;
     margin-left: 433px;
     text-align: center;
     font-size: 20px; 
 }