/*target all paragraphs
*/
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic  ;
    border: 1px solid #eee;
    background-color: rgb(221, 132, 16);
}
thead td{
background-color: black;
    font-weight: bold;
    font-style: italic;
    color:white;
    text-align: center;

}
table {
    background-color: rgba(238, 238, 238, 0.445);
    padding: 5px;
    width: 100%;
    border-spacing: 2px;
    margin: 10px ;
    font-weight: bold;
   
}
tbody td{
    text-align: center;
    padding: 15px;
    border: 1px solid;
   

}
.viewbtn{
    background-color: darkcyan;
    border: 1px solid;
    padding: 5px;
    font-weight: bold;

}
.deletebtn{
    background-color: pink;
    border: 1px solid;
    padding: 5px;
    font-weight: bold;

}
